// Specific CSS for your home-page
.banner {
  background-size: cover;
}

.banner-content {
  height: 100vh,
}

.container {
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 100px;
  margin-bottom: 30px;
}
