// Specific CSS for your home-page
body {
 background-image: radial-gradient(circle, #a6c2cf, #86a4b2, #678796, #486c7b, #295161);
}
h1 {
  margin-top:100px;
  font-size: 70px;
}
.white-color {
  color:white;
}
.titles {
  color: white;
}
.banner {
  background-size: cover;
}

.banner-content {
  height: 100vh,
}

.card-outline {
  width: 270px;
  height: 250px;
  box-shadow: 2px 3px 6px -1px rgba(0, 0, 0, 0.49);
  margin: 20px;
  border-radius: 3px;

  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.card-content {
    // border: 1px solid black;
}

.card-image {
  width: 100%;
  height: 66%;
  // border-radius: 5px;
  background-color:#EAEAEA
}

.card-img {
  object-fit: cover;
  height: 165px;
  width: 270px;
}

.card-body {
  width: 100%;
  height: 34%;
  justify-content: space-between;
  background-color:#EAEAEA;
}


.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    display: inline-block;
    padding-bottom:15px;
  }
}

.card:hover{

  margin-top:-30px;
  .card-outline{
  height: 260px;
}
}

.card-text {
  padding: 0;
  padding-left: 5px;
  margin: 0;
}

.category {
  margin-bottom: 20px;
}
.search-form {
  margin-top: 200px;
  border-radius: 5px;
}

@media screen and (min-width: 721px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
.banner-content{
  padding: auto;
  width: 900px;
}

.search-form {
  padding: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(150,174,191,0.5);
  position: relative;
  width: 900px;
  }
.sf-button{
  padding-left:65%;
   }
.form-control{
  width: 400px;
}
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  .titles {
  padding-left: 20px;
  color: white;
  }
  .search-form {
  padding-left: 0px;
  }
}

.transition{
  height:2px;
  background-color:white;
}



