.wrapper-height {
  margin: 25px;
  height: 40vh;
  display: flex;
}

.flex-col {
  height: 100%;
  width: 50%;
}

.heading-show {
  height: 50%;
}

.description-show {
  height: 50%;
}

.location {
  margin-top: 50px;
}

.wrapper-heading-show{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.show-banner {
  height: 60vh;
  background-size: contain;
  // background-repeat: no-repeat;
  background-position: center;
}

.show-h2 {
  color: #13315C;
  text-shadow: -0.5px 0 lightgray, 0 0.5px lightgray, 0.5px 0 lightgray, 0 -0.5px lightgray;
}

.h3-no-margin {
  margin-top: 0px;
}


.wrapper-price-show{
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  // align-items: space-evenly;
}
.form-show {
  margin: 0 auto;
}
