.description {
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
  padding: 24px;
  font-size: 16px !important;
}

.booking-container {
  padding-left: 24px;
  padding-right: 24px;
  margin: 0px;
  border: 1px solid #e4e4e4;
}

.show-banner {
  height: 60vh;
  background-size: contain;
  // background-repeat: no-repeat;
  background-position: center;
}

.show-h2 {
  color: #13315C;
  text-shadow: -0.5px 0 lightgray, 0 0.5px lightgray, 0.5px 0 lightgray, 0 -0.5px lightgray;
}


