<div class="container">

<div class="inbox">
  <h1>Inbox</h1>
  <ul>
    <%if !@conversations.nil?  %>
    <% @conversations.each do |conversation| %>
      <li> <i class="far fa-envelope"></i>
        <%= link_to conversation.recipient(current_user).email, conversation_messages_path(conversation) %>
        <% if !conversation.unread_message_count(current_user).zero? %>
          (<%= conversation.unread_message_count(current_user) %>)
        <% end %>
      </li>
    <% end %>
    <% end %>
  </ul>

</div>

<div class ="inbox">
  <h2>Users</h2>
  <p>Select a user to send a new message</p>
  <ul>
    <% @users.each do |user| %>
      <li><i class="fas fa-user"></i>
        <%= link_to user.email, conversations_path(sender_id: current_user.id, receiver_id: user.id), method: :post %></li>
    <% end %>
  </ul>

  </div>
</div>
