
<div>
  <div>
    <div
        id="map"
        style="width: 100%;
        height: 300px;"
        data-markers="<%= @markers.to_json %>"
      >
    </div>
    <div class="container banner-content">
      <h2 class="show-h2"><%= @board.name %> is ready for pick up</h2>
      <%= @booking.start_date %>
      <%= @booking.end_date %>
    </div>
  </div>
</div>


